In [1]:
import msgspec
import pandas as pd
import numpy as np
import ast
from collections import Counter

# Import Datasets

In [2]:
def stream_jsonl(filename):
    with open(filename, "r", encoding="utf-8") as file:
        for i, line in enumerate(file):
            yield msgspec.json.decode(line.strip())


# Convert streamed data to a Pandas DataFrame
biz = pd.DataFrame(stream_jsonl(
    "yelp_academic_dataset_business.json"))
print(biz.head())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...

In [3]:
biz.info()
biz.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

,latitude,longitude,stars,review_count,is_open
count,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000
mean,36.671150,-89.357339,3.596724,44.866561,0.79615
std,5.872759,14.918502,0.974421,121.120136,0.40286
min,27.555127,-120.095137,1.000000,5.000000,0.00000
25%,32.187293,-90.357810,3.000000,8.000000,1.00000
50%,38.777413,-86.121179,3.500000,15.000000,1.00000
75%,39.954036,-75.421542,4.500000,37.000000,1.00000
max,53.679197,-73.200457,5.000000,7568.000000,1.00000

In [4]:
# # Convert streamed data to a Pandas DataFrame
# checkin = pd.DataFrame(stream_jsonl("yelp_academic_dataset_checkin.json"))
# print(checkin.head())

In [5]:
# Convert streamed data to a Pandas DataFrame
reviews = pd.DataFrame(stream_jsonl(
    "yelp_academic_dataset_review.json"))
print(reviews.head())

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0    3.0       0      0     0
1    5.0       1      0     1
2    3.0       0      0     0
3    5.0       1      0     1
4    4.0       1      0     1

                                                text                 date
0  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year...  2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm...  2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up...  2017-01-14 20:54:15

In [6]:
# reviews.info()
# reviews.describe().round(2)

In [7]:
# # Convert streamed data to a Pandas DataFrame
# tip = pd.DataFrame(stream_jsonl("yelp_academic_dataset_tip.json"))
# print(tip.head())

In [8]:
# # Convert streamed data to a Pandas DataFrame
# user = pd.DataFrame(stream_jsonl("yelp_academic_dataset_user.json"))
# print(user.head())

# Data Preparation

In [9]:
biz = biz[biz['is_open'] == 1]
biz.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119698 entries, 1 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   119698 non-null  object
 1   name          119698 non-null  object
 2   address       119698 non-null  object
 3   city          119698 non-null  object
 4   state         119698 non-null  object
 5   postal_code   119698 non-null  object
 6   latitude      119698 non-null  float64
 7   longitude     119698 non-null  float64
 8   stars         119698 non-null  float64
 9   review_count  119698 non-null  int64
 10  is_open       119698 non-null  int64
 11  attributes    107350 non-null  object
 12  categories    119603 non-null  object
 13  hours         103603 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 13.7+ MB

In [10]:
biz.groupby("state")["business_id"].count().sort_values(ascending=False)

state
PA     26289
FL     21540
TN      9600
IN      8946
MO      8363
AZ      8108
LA      7676
NJ      7031
NV      6277
AB      4346
CA      4065
ID      3783
DE      1894
IL      1765
TX         4
WA         2
MA         2
VT         1
UT         1
MI         1
SD         1
HI         1
CO         1
XMS        1
Name: business_id, dtype: int64

In [11]:
# Get businesses in most popular state
# biz = biz[biz['state'] == "PA"]
biz = biz[['business_id', 'name', 'city', 'postal_code', 'categories', 'attributes', 'stars']]

# Get only restaurants
restaurants = biz[biz['categories'].str.contains(
    'Restaurant.*') == True].reset_index()

# Ensure attributes is always a dictionary
restaurants["attributes"] = restaurants["attributes"].apply(
    lambda x: x if isinstance(x, dict) else {})

# Normalize attributes column
attributes_df = pd.json_normalize(restaurants["attributes"])

# Concatenate the main dataframe with the expanded attributes
restaurants = restaurants.drop(columns=["attributes"]).join(attributes_df)

for att in ["Alcohol", "WiFi", "RestaurantsAttire", "NoiseLevel", "BYOBCorkage", "AgesAllowed", "Smoking"]:
    restaurants[att] = restaurants[att].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

restaurants['RestaurantsPriceRange2'] = pd.to_numeric(
    restaurants['RestaurantsPriceRange2'], errors='coerce')

for att in ["Ambience", "BusinessParking", "GoodForMeal", "Music", "BestNights", "DietaryRestrictions"]:
    restaurants[att] = restaurants[att].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    restaurants[att] = restaurants[att].apply(
        lambda x: ", ".join([k for k, v in x.items() if v]
                            ) if isinstance(x, dict) else ""
    )
    

def clean_values(x):
    """Cleans and standardizes values across columns."""
    if isinstance(x, str):
        x_lower = x.strip().lower()
        if x_lower in ["true"]:
            return True
        elif x_lower in ["false"]:
            return False
        elif x_lower in ["none", "nan", "null", ""]:
            return np.nan  # Convert both "None" and "nan" strings to pd.NA
        return x  # Keep other strings unchanged
    elif pd.isna(x) or x is None:
        return np.nan  # Convert NaN and None to pd.NA
    return x  # Keep other values unchanged

# Apply cleaning function to all columns
restaurants = restaurants.apply(lambda col: col.map(clean_values))

# Drop columns
restaurants = restaurants.drop(columns=['index', 'HairSpecializesIn'])

pd.set_option("display.max_columns", None)
restaurants.head()

,business_id,name,city,postal_code,categories,stars,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,Caters,RestaurantsAttire,RestaurantsReservations,Ambience,GoodForKids,CoatCheck,DogsAllowed,RestaurantsTableService,RestaurantsGoodForGroups,WheelchairAccessible,HasTV,HappyHour,DriveThru,GoodForMeal,NoiseLevel,BusinessAcceptsBitcoin,Music,Smoking,GoodForDancing,BestNights,BYOB,Corkage,BYOBCorkage,RestaurantsCounterService,Open24Hours,AgesAllowed,AcceptsInsurance,DietaryRestrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,19107,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",4.0,False,False,False,street,True,1.0,True,False,free,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,37015,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",2.0,True,True,True,NaN,False,1.0,True,False,no,NaN,False,casual,False,NaN,True,False,False,False,True,True,True,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,37207,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",1.5,True,True,True,NaN,NaN,1.0,True,False,no,NaN,False,casual,False,NaN,True,False,False,False,False,True,True,False,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,33602,"Vietnamese, Food, Restaurants, Food Trucks",4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,il_Ro8jwPlHresjw9EGmBg,Denny's,Indianapolis,46227,"American (Traditional), Restaurants, Diners, B...",2.5,True,False,True,lot,False,1.0,True,NaN,no,NaN,NaN,casual,False,casual,True,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
for col in restaurants.iloc[:, 6:].columns:
    unique_values = restaurants[col].unique()  # Get unique values
    print(f"{col}: {unique_values}")

RestaurantsDelivery: [False True nan]
OutdoorSeating: [False True nan]
BusinessAcceptsCreditCards: [False True nan]
BusinessParking: ['street' nan 'lot' 'street, lot' 'garage, street' 'validated'
 'street, valet' 'garage, street, validated, lot, valet'
 'garage, street, lot' 'lot, valet' 'garage, lot' 'valet, garage'
 'street, lot, valet' 'valet' 'garage, valet' 'garage'
 'street, lot, validated' 'garage, street, validated, lot'
 'garage, validated' 'garage, validated, valet' 'street, validated, valet'
 'validated, lot' 'garage, street, valet' 'garage, lot, valet'
 'garage, validated, lot' 'garage, street, lot, valet'
 'garage, street, validated' 'valet, street, lot' 'street, validated, lot'
 'garage, street, validated, valet' 'validated, valet' 'street, validated'
 'valet, validated' 'valet, garage, street' 'validated, lot, valet'
 'street, validated, lot, valet' 'valet, lot' 'valet, street, validated'
 'valet, street' 'garage, validated, lot, valet' 'valet, garage, lot'
 'lot, validated' 'valet, garage, street, lot'
 'valet, street, lot, validated' 'garage, street, lot, validated']
BikeParking: [True False nan]
RestaurantsPriceRange2: [ 1. nan  2.  3.  4.]
RestaurantsTakeOut: [True nan False]
ByAppointmentOnly: [False nan True]
WiFi: ['free' 'no' nan 'paid']
Alcohol: [nan 'full_bar' 'beer_and_wine']
Caters: [True False nan]
RestaurantsAttire: [nan 'casual' 'dressy' 'formal']
RestaurantsReservations: [nan False True]
Ambience: [nan 'casual' 'classy' 'classy, casual' 'divey' 'hipster, trendy, casual'
 'casual, trendy' 'touristy' 'casual, romantic, classy, upscale' 'hipster'
 'trendy, casual' 'romantic, intimate, trendy, classy' 'hipster, casual'
 'hipster, classy, casual' 'intimate' 'trendy, classy' 'intimate, classy'
 'romantic, intimate, classy' 'divey, casual' 'trendy, classy, casual'
 'romantic, classy' 'hipster, casual, trendy'
 'hipster, trendy, classy, casual' 'hipster, trendy'
 'divey, classy, casual' 'romantic, upscale, classy'
 'intimate, trendy, classy' 'casual, trendy, intimate, classy'
 'touristy, casual' 'intimate, trendy, classy, casual' 'trendy'
 'casual, trendy, romantic' 'casual, classy'
 'romantic, intimate, trendy, upscale, classy' 'intimate, classy, casual'
 'touristy, classy, casual' 'casual, trendy, classy' 'hipster, classy'
 'trendy, upscale, classy, casual' 'romantic, intimate, upscale, classy'
 'upscale, classy' 'romantic, intimate, trendy, classy, casual'
 'divey, classy' 'trendy, upscale' 'romantic, trendy' 'casual, touristy'
 'classy, upscale' 'hipster, intimate, trendy, classy, casual'
 'touristy, trendy, classy' 'intimate, trendy, upscale, classy'
 'intimate, upscale, classy' 'casual, touristy, trendy'
 'hipster, romantic, intimate, trendy, classy, casual'
 'romantic, classy, casual' 'casual, touristy, trendy, classy'
 'touristy, romantic, trendy, classy, casual'
 'touristy, trendy, classy, casual' 'casual, classy, upscale'
 'casual, intimate' 'intimate, trendy, casual'
 'casual, intimate, romantic, upscale' 'hipster, trendy, classy'
 'trendy, upscale, classy' 'casual, intimate, classy' 'casual, upscale'
 'hipster, divey, casual' 'divey, casual, touristy'
 'casual, trendy, intimate, romantic, classy, upscale'
 'romantic, intimate, upscale, classy, casual' 'hipster, casual, intimate'
 'hipster, casual, trendy, intimate, classy, upscale' 'casual, romantic'
 'hipster, casual, trendy, intimate, romantic'
 'hipster, romantic, intimate, trendy, casual' 'intimate, casual'
 'romantic, casual' 'hipster, romantic, intimate, trendy, classy'
 'romantic, intimate, classy, casual' 'intimate, romantic'
 'romantic, classy, upscale' 'casual, trendy, intimate'
 'hipster, casual, trendy, classy' 'upscale'
 'hipster, casual, touristy, trendy, romantic' 'divey, casual, trendy'
 'hipster, casual, trendy, upscale'
 'hipster, romantic, trendy, classy, casual' 'trendy, romantic, classy'
 'hipster, casual, trendy, romantic, classy' 'romantic'
 'touristy, hipster, classy, casual' 'intimate, romantic, classy'
 'hipster, casual, trendy, romantic, classy, upscale'
 'hipster, casual, trendy, intimate' 'romantic, trendy, upscale, classy'
 'hipster, casual, trendy, classy, upscale' 'classy, trendy'
 'trendy, romantic' 'intimate, trendy, upscale, classy, casual'
 'touristy, romantic, casual' 'romantic, intimate, casual'
 'hipster, divey, trendy, classy, casual'
 'casual, trendy, intimate, romantic, classy'
 'trendy, intimate, romantic, classy' 'upscale, classy, casual'
 'casual, touristy, romantic, classy, upscale'
 'hipster, casual, trendy, romantic, upscale' 'touristy, trendy, casual'
 'romantic, trendy, casual' 'casual, intimate, romantic'
 'romantic, upscale' 'casual, trendy, romantic, classy'
 'hipster, casual, touristy, trendy' 'casual, touristy, trendy, intimate'
 'casual, trendy, upscale' 'casual, intimate, romantic, classy'
 'casual, touristy, classy' 'hipster, divey' 'divey, trendy'
 'casual, trendy, classy, upscale'
 'touristy, romantic, trendy, upscale, classy, casual'
 'intimate, upscale, classy, casual' 'trendy, classy, upscale'
 'upscale, casual'
 'hipster, casual, trendy, intimate, romantic, classy, upscale'
 'hipster, divey, classy' 'romantic, intimate' 'divey, hipster, casual'
 'hipster, casual, classy' 'touristy, classy'
 'intimate, romantic, classy, upscale'
 'hipster, romantic, intimate, trendy, upscale, classy, casual'
 'casual, romantic, upscale' 'casual, romantic, classy'
 'hipster, romantic, trendy, casual' 'romantic, trendy, classy, casual'
 'casual, touristy, trendy, romantic, classy, upscale'
 'romantic, upscale, classy, casual' 'casual, trendy, intimate, romantic'
 'hipster, divey, classy, casual' 'casual, trendy, romantic, upscale'
 'hipster, casual, intimate, romantic, classy'
 'divey, casual, trendy, classy' 'romantic, trendy, classy'
 'hipster, casual, touristy' 'touristy, hipster, trendy, casual'
 'divey, casual, classy' 'hipster, trendy, upscale, classy'
 'trendy, intimate, classy'
 'hipster, casual, trendy, intimate, romantic, classy' 'divey, intimate'
 'intimate, trendy' 'romantic, trendy, upscale, classy, casual'
 'touristy, trendy, intimate, romantic, classy, upscale'
 'intimate, classy, upscale'
 'romantic, intimate, trendy, upscale, classy, casual'
 'hipster, trendy, upscale, classy, casual'
 'divey, casual, touristy, trendy' 'touristy, trendy, intimate, upscale'
 'touristy, upscale, casual' 'intimate, touristy, casual'
 'casual, touristy, intimate' 'touristy, divey, trendy, casual'
 'hipster, casual, trendy, intimate, classy'
 'trendy, romantic, classy, upscale'
 'casual, intimate, romantic, classy, upscale'
 'touristy, hipster, divey, trendy, casual' 'trendy, upscale, casual'
 'romantic, intimate, trendy' 'touristy, romantic'
 'hipster, trendy, intimate, classy' 'trendy, intimate, romantic'
 'hipster, intimate, casual' 'touristy, trendy, upscale, classy, casual'
 'touristy, trendy' 'hipster, intimate, trendy, casual'
 'hipster, intimate, classy']
GoodForKids: [nan True False]
CoatCheck: [nan False True]
DogsAllowed: [nan False True]
RestaurantsTableService: [nan False True]
RestaurantsGoodForGroups: [nan True False]
WheelchairAccessible: [nan True False]
HasTV: [nan True False]
HappyHour: [nan False True]
DriveThru: [nan True False]
GoodForMeal: [nan 'dessert, dinner' 'lunch, dinner' 'latenight, dinner' 'dinner'
 'lunch, brunch, breakfast' 'lunch, dinner, brunch' 'lunch'
 'latenight, lunch, dinner' 'breakfast' 'dessert, lunch, dinner, brunch'
 'lunch, breakfast' 'dessert, lunch, dinner, breakfast'
 'dessert, lunch, dinner' 'lunch, dinner, breakfast'
 'dessert, lunch, brunch, breakfast' 'breakfast, brunch' 'latenight'
 'dinner, brunch' 'lunch, dinner, dessert' 'dessert, lunch'
 'latenight, breakfast' 'latenight, lunch, dinner, breakfast'
 'dessert, breakfast' 'lunch, brunch' 'breakfast, brunch, lunch'
 'breakfast, lunch' 'latenight, lunch' 'brunch, breakfast'
 'lunch, dinner, brunch, breakfast' 'latenight, lunch, brunch, breakfast'
 'brunch, lunch, dinner' 'dinner, dessert'
 'latenight, lunch, dinner, brunch' 'dessert, lunch, breakfast'
 'dessert, latenight, lunch, dinner'
 'dessert, latenight, lunch, dinner, brunch, breakfast'
 'dessert, lunch, dinner, brunch, breakfast' 'lunch, dinner, latenight'
 'breakfast, brunch, lunch, dinner' 'dessert, latenight, lunch, brunch'
 'dessert, latenight, lunch, breakfast' 'latenight, brunch, breakfast'
 'brunch, lunch, dinner, dessert' 'brunch' 'dessert, brunch, breakfast'
 'dinner, latenight' 'latenight, lunch, dinner, brunch, breakfast'
 'dessert' 'brunch, dinner, latenight' 'lunch, latenight'
 'breakfast, brunch, lunch, dinner, dessert' 'brunch, dinner, dessert'
 'brunch, lunch' 'breakfast, lunch, dinner' 'brunch, dinner'
 'dessert, dinner, brunch' 'dessert, latenight, dinner'
 'dinner, breakfast' 'dessert, lunch, brunch' 'dessert, brunch'
 'breakfast, brunch, dessert' 'breakfast, lunch, latenight'
 'breakfast, dinner, latenight' 'dessert, latenight'
 'brunch, lunch, dinner, latenight' 'latenight, lunch, brunch'
 'dessert, latenight, lunch, dinner, brunch'
 'lunch, dinner, latenight, dessert' 'latenight, lunch, breakfast'
 'breakfast, brunch, dinner' 'dessert, latenight, dinner, breakfast'
 'dessert, latenight, dinner, brunch' 'dinner, brunch, breakfast'
 'dessert, dinner, breakfast' 'breakfast, brunch, lunch, latenight'
 'breakfast, brunch, lunch, dessert' 'dessert, dinner, brunch, breakfast'
 'breakfast, brunch, lunch, dinner, latenight'
 'breakfast, brunch, latenight' 'breakfast, lunch, dessert'
 'dessert, latenight, lunch, brunch, breakfast'
 'dessert, latenight, lunch'
 'dessert, latenight, lunch, dinner, breakfast'
 'breakfast, lunch, dinner, latenight, dessert' 'breakfast, latenight'
 'lunch, dessert' 'breakfast, lunch, dinner, latenight'
 'latenight, dinner, brunch' 'latenight, dinner, breakfast'
 'breakfast, brunch, lunch, dinner, latenight, dessert'
 'dessert, latenight, brunch' 'latenight, brunch' 'breakfast, dinner'
 'dessert, latenight, brunch, breakfast'
 'breakfast, brunch, lunch, latenight, dessert']
NoiseLevel: [nan 'average' 'quiet' 'loud' 'very_loud']
BusinessAcceptsBitcoin: [nan False True]
Music: [nan 'live' 'dj, background_music, live, karaoke' 'dj, live'
 'jukebox, live' 'dj, jukebox, live, karaoke' 'dj' 'live, karaoke'
 'background_music' 'dj, live, jukebox' 'jukebox' 'karaoke'
 'jukebox, live, karaoke' 'live, jukebox'
 'background_music, jukebox, live' 'dj, jukebox, live, video'
 'dj, live, karaoke' 'background_music, jukebox, video' 'video'
 'dj, jukebox' 'dj, jukebox, karaoke' 'jukebox, karaoke'
 'background_music, live' 'dj, jukebox, live'
 'dj, jukebox, live, video, karaoke' 'dj, karaoke']
Smoking: [nan 'no' 'outdoor' 'yes']
GoodForDancing: [nan False True]
BestNights: [nan 'tuesday, friday, saturday' 'friday, thursday, saturday' 'monday'
 'saturday' 'tuesday, saturday' 'friday, sunday, saturday'
 'friday, wednesday, saturday' 'thursday' 'friday, saturday'
 'thursday, friday' 'friday' 'tuesday, friday, thursday'
 'monday, thursday, saturday' 'monday, thursday, friday'
 'friday, wednesday, thursday' 'friday, saturday, sunday'
 'friday, thursday, sunday' 'sunday, saturday' 'friday, thursday'
 'monday, friday, saturday' 'friday, sunday' 'thursday, saturday' 'sunday'
 'wednesday' 'wednesday, thursday, saturday' 'monday, saturday' 'tuesday'
 'tuesday, friday, sunday' 'wednesday, sunday'
 'tuesday, thursday, saturday' 'friday, wednesday, sunday'
 'monday, tuesday, friday' 'monday, tuesday, thursday'
 'monday, friday, thursday' 'monday, wednesday, saturday'
 'tuesday, wednesday, thursday' 'monday, saturday, sunday'
 'tuesday, friday, wednesday' 'monday, sunday' 'tuesday, friday'
 'monday, tuesday, wednesday' 'tuesday, thursday'
 'tuesday, thursday, friday' 'wednesday, friday, saturday'
 'tuesday, wednesday' 'monday, thursday, sunday'
 'tuesday, sunday, saturday' 'wednesday, thursday, sunday'
 'monday, friday, sunday' 'wednesday, saturday'
 'tuesday, wednesday, saturday' 'monday, sunday, saturday'
 'monday, thursday' 'monday, friday, wednesday' 'thursday, sunday'
 'monday, tuesday, sunday' 'monday, friday' 'wednesday, thursday, friday'
 'tuesday, wednesday, sunday' 'monday, wednesday, thursday'
 'friday, wednesday' 'thursday, sunday, saturday'
 'monday, tuesday, saturday' 'saturday, sunday'
 'wednesday, sunday, saturday' 'tuesday, thursday, sunday'
 'thursday, friday, saturday' 'monday, wednesday, sunday'
 'wednesday, friday' 'monday, tuesday' 'tuesday, wednesday, friday'
 'tuesday, saturday, sunday' 'wednesday, thursday' 'tuesday, sunday'
 'monday, wednesday' 'wednesday, saturday, sunday']
BYOB: [nan False True]
Corkage: [nan True False]
BYOBCorkage: [nan 'yes_free' 'no' 'yes_corkage']
RestaurantsCounterService: [nan True False]
Open24Hours: [nan False True]
AgesAllowed: [nan 'allages' '21plus']
AcceptsInsurance: [nan True False]
DietaryRestrictions: [nan 'dairy-free, gluten-free, vegan, soy-free, vegetarian' 'gluten-free'
 'vegan' 'dairy-free, gluten-free, vegan, vegetarian'
 'vegan, halal, vegetarian' 'vegan, vegetarian' 'gluten-free, vegetarian']

In [13]:
sorted_columns = restaurants.count().sort_values(ascending=False).index
restaurants = restaurants[sorted_columns]
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35004 entries, 0 to 35003
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 35004 non-null  object
 1   city                        35004 non-null  object
 2   categories                  35004 non-null  object
 3   stars                       35004 non-null  float64
 4   name                        35004 non-null  object
 5   postal_code                 35000 non-null  object
 6   RestaurantsTakeOut          31939 non-null  object
 7   RestaurantsDelivery         30400 non-null  object
 8   BusinessAcceptsCreditCards  29765 non-null  object
 9   RestaurantsPriceRange2      28831 non-null  float64
 10  RestaurantsReservations     27911 non-null  object
 11  HasTV                       27869 non-null  object
 12  OutdoorSeating              26691 non-null  object
 13  RestaurantsGoodForGroups    26378 non-null  object
 14  GoodForKids                 26018 non-null  object
 15  WiFi                        25593 non-null  object
 16  BikeParking                 25241 non-null  object
 17  RestaurantsAttire           24396 non-null  object
 18  Caters                      23747 non-null  object
 19  BusinessParking             22239 non-null  object
 20  NoiseLevel                  22187 non-null  object
 21  Ambience                    16871 non-null  object
 22  GoodForMeal                 14843 non-null  object
 23  RestaurantsTableService     14732 non-null  object
 24  Alcohol                     12014 non-null  object
 25  WheelchairAccessible        10379 non-null  object
 26  HappyHour                   9525 non-null   object
 27  DogsAllowed                 9324 non-null   object
 28  DriveThru                   5131 non-null   object
 29  BusinessAcceptsBitcoin      4902 non-null   object
 30  BYOB                        3854 non-null   object
 31  CoatCheck                   3321 non-null   object
 32  Corkage                     2937 non-null   object
 33  ByAppointmentOnly           2829 non-null   object
 34  BestNights                  2786 non-null   object
 35  Smoking                     2562 non-null   object
 36  GoodForDancing              2540 non-null   object
 37  Music                       1315 non-null   object
 38  BYOBCorkage                 814 non-null    object
 39  AgesAllowed                 83 non-null     object
 40  Open24Hours                 19 non-null     object
 41  DietaryRestrictions         18 non-null     object
 42  RestaurantsCounterService   16 non-null     object
 43  AcceptsInsurance            16 non-null     object
dtypes: float64(2), object(42)
memory usage: 11.8+ MB

In [14]:
user_business_interaction = reviews.groupby(['user_id', 'business_id']).agg(
    # Number of times a user interacted with a business
    frequency=('stars', 'count'),
    # Average rating given by the user to the business
    avg_rating=('stars', 'mean')
).reset_index()

filtered_business_ids = set(restaurants['business_id'])
# Filter for interactions that are restaurants
user_business_interaction = user_business_interaction[
    user_business_interaction['business_id'].isin(filtered_business_ids)
]
user_business_interaction.reset_index(drop=True, inplace=True)

user_business_interaction.head()

                  user_id             business_id  frequency  avg_rating
0  ---2PmXbF47D870stH1jqA  0ZsqqzHu1HHkDdIKoivi5g          1         5.0
1  ---2PmXbF47D870stH1jqA  1An4DxtMmvvSe0HX4viRCA          3         5.0
2  ---2PmXbF47D870stH1jqA  3YqUe2FTCQr0pPVK8oCv6Q          1         5.0
3  ---2PmXbF47D870stH1jqA  3gXgILE2YWVidJDvVWBT6Q          1         5.0
4  ---2PmXbF47D870stH1jqA  KP5OncF2jhT7_J1phHPPww          1         5.0

In [20]:
user_business_interaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3643961 entries, 0 to 3643960
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      object
 1   business_id  object
 2   frequency    int64
 3   avg_rating   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 111.2+ MB

In [21]:
restaurants.describe()

              stars  RestaurantsPriceRange2
count  35004.000000            28831.000000
mean       3.523969                1.566924
std        0.862640                0.574900
min        1.000000                1.000000
25%        3.000000                1.000000
50%        3.500000                2.000000
75%        4.000000                2.000000
max        5.000000                4.000000

In [22]:
user_business_interaction.describe().round(2)

        frequency  avg_rating
count  3643961.00  3643961.00
mean         1.04        3.83
std          0.22        1.38
min          1.00        1.00
25%          1.00        3.00
50%          1.00        4.00
75%          1.00        5.00
max         40.00        5.00

In [18]:
demographics = pd.read_csv("us_census/demographics_merged.csv")
demographics.head()

,postal_code,dist_highway,adjusted_gross_income,rural_urban_continuum_code_2023,unemployment_rate_2023
0,1001,1.387035,598807,2.0,4.30
1,1002,14.438177,989558,3.5,2.90
2,1005,16.788339,164207,2.0,3.50
3,1007,13.663839,647074,3.0,2.90
4,1008,2.593655,47826,2.5,3.95

In [24]:
restaurants['postal_code'] = restaurants["postal_code"].astype('str')
demographics['postal_code'] = demographics['postal_code'].astype('str')
restaurants = restaurants.merge(demographics, how="left", on="postal_code")
restaurants.head(100)

,business_id,city,categories,stars,name,postal_code,RestaurantsTakeOut,RestaurantsDelivery,BusinessAcceptsCreditCards,RestaurantsPriceRange2,RestaurantsReservations,HasTV,OutdoorSeating,RestaurantsGoodForGroups,GoodForKids,WiFi,BikeParking,RestaurantsAttire,Caters,BusinessParking,NoiseLevel,Ambience,GoodForMeal,RestaurantsTableService,Alcohol,WheelchairAccessible,HappyHour,DogsAllowed,DriveThru,BusinessAcceptsBitcoin,BYOB,CoatCheck,Corkage,ByAppointmentOnly,BestNights,Smoking,GoodForDancing,Music,BYOBCorkage,AgesAllowed,Open24Hours,DietaryRestrictions,RestaurantsCounterService,AcceptsInsurance,dist_highway,adjusted_gross_income,rural_urban_continuum_code_2023,unemployment_rate_2023
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",4.0,St Honore Pastries,19107,True,False,False,1.0,NaN,NaN,False,NaN,NaN,free,True,NaN,True,street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.637509,620248.0,1.000000,4.2
1,CF33F8-E6oudUQ46HnavjQ,Ashland City,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...",2.0,Sonic Drive-In,37015,True,True,True,1.0,False,True,True,True,True,no,False,casual,False,NaN,NaN,NaN,NaN,False,NaN,True,False,False,True,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.085671,525009.0,1.333333,3.0
2,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...",1.5,Sonic Drive-In,37207,True,True,True,1.0,False,True,True,False,True,no,NaN,casual,False,NaN,NaN,NaN,NaN,False,NaN,True,False,False,True,NaN,NaN,False,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.450780,858200.0,1.000000,2.7
3,eEOYSgkmpB90uNA7lDOMRA,Tampa Bay,"Vietnamese, Food, Restaurants, Food Trucks",4.0,Vietnamese Food Truck,33602,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.351013,1568637.0,1.000000,2.9
4,il_Ro8jwPlHresjw9EGmBg,Indianapolis,"American (Traditional), Restaurants, Diners, B...",2.5,Denny's,46227,True,True,True,1.0,False,True,False,True,True,no,False,casual,NaN,lot,NaN,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.576741,1215790.0,1.000000,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,7mpYTDb24SywNMRn3yeakQ,Philadelphia,"Event Planning & Services, Whiskey Bars, Ameri...",4.0,The Twisted Tail,19147,True,False,True,2.0,True,True,True,True,False,free,False,casual,True,street,average,"classy, casual","latenight, dinner",True,full_bar,True,True,False,NaN,False,NaN,NaN,NaN,False,"friday, saturday",no,False,live,NaN,NaN,NaN,NaN,NaN,NaN,0.885738,2118208.0,1.000000,4.2
96,iEC0VzHM2hQ13wM7c0QwgQ,Langhorne,"American (Traditional), Restaurants, Diners, B...",3.5,Metro Diner,19047,True,True,True,2.0,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,lot,NaN,NaN,NaN,True,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.562932,1749262.0,1.000000,3.0
97,OlD8UoHqrKnLoZUFxuas_w,Spring Hill,"Sandwiches, Restaurants",2.5,The Hip Hop Sandwich Shop,34608,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.998401,693853.0,1.000000,3.8
98,D7z_V6E8cxXghSRcHAmUPg,Tucson,"Restaurants, Chinese",4.0,La Bella China Restaurant,85706,True,True,True,1.0,False,True,False,True,True,free,True,casual,True,lot,quiet,casual,"lunch, dinner",True,beer_and_wine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.268192,771616.0,1.000000,3.8
99,gb7JjRJtzWDsIWpJihZhBQ,Pennsville,"Food, Burgers, Restaurants, Coffee & Tea, Fast...",2.0,McDonald's,08070,True,True,True,1.0,False,True,False,True,True,free,False,casual,False,NaN,average,NaN,NaN,False,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35004 entries, 0 to 35003
Data columns (total 48 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      35004 non-null  object
 1   city                             35004 non-null  object
 2   categories                       35004 non-null  object
 3   stars                            35004 non-null  float64
 4   name                             35004 non-null  object
 5   postal_code                      35004 non-null  object
 6   RestaurantsTakeOut               31939 non-null  object
 7   RestaurantsDelivery              30400 non-null  object
 8   BusinessAcceptsCreditCards       29765 non-null  object
 9   RestaurantsPriceRange2           28831 non-null  float64
 10  RestaurantsReservations          27911 non-null  object
 11  HasTV                            27869 non-null  object
 12  OutdoorSeating                   26691 non-null  object
 13  RestaurantsGoodForGroups         26378 non-null  object
 14  GoodForKids                      26018 non-null  object
 15  WiFi                             25593 non-null  object
 16  BikeParking                      25241 non-null  object
 17  RestaurantsAttire                24396 non-null  object
 18  Caters                           23747 non-null  object
 19  BusinessParking                  22239 non-null  object
 20  NoiseLevel                       22187 non-null  object
 21  Ambience                         16871 non-null  object
 22  GoodForMeal                      14843 non-null  object
 23  RestaurantsTableService          14732 non-null  object
 24  Alcohol                          12014 non-null  object
 25  WheelchairAccessible             10379 non-null  object
 26  HappyHour                        9525 non-null   object
 27  DogsAllowed                      9324 non-null   object
 28  DriveThru                        5131 non-null   object
 29  BusinessAcceptsBitcoin           4902 non-null   object
 30  BYOB                             3854 non-null   object
 31  CoatCheck                        3321 non-null   object
 32  Corkage                          2937 non-null   object
 33  ByAppointmentOnly                2829 non-null   object
 34  BestNights                       2786 non-null   object
 35  Smoking                          2562 non-null   object
 36  GoodForDancing                   2540 non-null   object
 37  Music                            1315 non-null   object
 38  BYOBCorkage                      814 non-null    object
 39  AgesAllowed                      83 non-null     object
 40  Open24Hours                      19 non-null     object
 41  DietaryRestrictions              18 non-null     object
 42  RestaurantsCounterService        16 non-null     object
 43  AcceptsInsurance                 16 non-null     object
 44  dist_highway                     30691 non-null  float64
 45  adjusted_gross_income            30691 non-null  float64
 46  rural_urban_continuum_code_2023  30691 non-null  float64
 47  unemployment_rate_2023           30691 non-null  float64
dtypes: float64(6), object(42)
memory usage: 12.8+ MB