In [1]:
import msgspec
import pandas as pd
import numpy as np
import ast
from collections import Counter

# Import Datasets

In [2]:
def stream_jsonl(filename):
    with open(filename, "r", encoding="utf-8") as file:
        for i, line in enumerate(file):
            yield msgspec.json.decode(line.strip())


# Convert streamed data to a Pandas DataFrame
biz = pd.DataFrame(stream_jsonl(
    "yelp_academic_dataset_business.json"))
print(biz.head())

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...

In [3]:
biz.info()
biz.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150346 entries, 0 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150346 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  float64
 7   longitude     150346 non-null  float64
 8   stars         150346 non-null  float64
 9   review_count  150346 non-null  int64
 10  is_open       150346 non-null  int64
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 16.1+ MB

,latitude,longitude,stars,review_count,is_open
count,150346.000000,150346.000000,150346.000000,150346.000000,150346.00000
mean,36.671150,-89.357339,3.596724,44.866561,0.79615
std,5.872759,14.918502,0.974421,121.120136,0.40286
min,27.555127,-120.095137,1.000000,5.000000,0.00000
25%,32.187293,-90.357810,3.000000,8.000000,1.00000
50%,38.777413,-86.121179,3.500000,15.000000,1.00000
75%,39.954036,-75.421542,4.500000,37.000000,1.00000
max,53.679197,-73.200457,5.000000,7568.000000,1.00000

In [4]:
# # Convert streamed data to a Pandas DataFrame
# checkin = pd.DataFrame(stream_jsonl("yelp_academic_dataset_checkin.json"))
# print(checkin.head())

In [5]:
# Convert streamed data to a Pandas DataFrame
reviews = pd.DataFrame(stream_jsonl(
    "yelp_academic_dataset_review.json"))
print(reviews.head())

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0    3.0       0      0     0
1    5.0       1      0     1
2    3.0       0      0     0
3    5.0       1      0     1
4    4.0       1      0     1

                                                text                 date
0  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year...  2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm...  2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up...  2017-01-14 20:54:15

In [6]:
# reviews.info()
# reviews.describe().round(2)

In [7]:
# # Convert streamed data to a Pandas DataFrame
# tip = pd.DataFrame(stream_jsonl("yelp_academic_dataset_tip.json"))
# print(tip.head())

In [8]:
# # Convert streamed data to a Pandas DataFrame
# user = pd.DataFrame(stream_jsonl("yelp_academic_dataset_user.json"))
# print(user.head())

# Data Preparation

In [9]:
biz = biz[biz['is_open'] == 1]
biz.info()

<class 'pandas.core.frame.DataFrame'>
Index: 119698 entries, 1 to 150345
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   119698 non-null  object
 1   name          119698 non-null  object
 2   address       119698 non-null  object
 3   city          119698 non-null  object
 4   state         119698 non-null  object
 5   postal_code   119698 non-null  object
 6   latitude      119698 non-null  float64
 7   longitude     119698 non-null  float64
 8   stars         119698 non-null  float64
 9   review_count  119698 non-null  int64
 10  is_open       119698 non-null  int64
 11  attributes    107350 non-null  object
 12  categories    119603 non-null  object
 13  hours         103603 non-null  object
dtypes: float64(3), int64(2), object(9)
memory usage: 13.7+ MB

In [10]:
biz.groupby("state")["business_id"].count().sort_values(ascending=False)

state
PA     26289
FL     21540
TN      9600
IN      8946
MO      8363
AZ      8108
LA      7676
NJ      7031
NV      6277
AB      4346
CA      4065
ID      3783
DE      1894
IL      1765
TX         4
WA         2
MA         2
VT         1
UT         1
MI         1
SD         1
HI         1
CO         1
XMS        1
Name: business_id, dtype: int64

In [11]:
# Get businesses in most popular state
biz = biz[biz['state'] == "PA"]
biz = biz[['business_id', 'name', 'city', 'postal_code', 'categories', 'attributes', 'stars']]

# Get only restaurants
restaurants = biz[biz['categories'].str.contains(
    'Restaurants') == True].reset_index()

# Ensure attributes is always a dictionary
restaurants["attributes"] = restaurants["attributes"].apply(
    lambda x: x if isinstance(x, dict) else {})

# Normalize attributes column
attributes_df = pd.json_normalize(restaurants["attributes"])

# Concatenate the main dataframe with the expanded attributes
restaurants = restaurants.drop(columns=["attributes"]).join(attributes_df)

for att in ["Alcohol", "WiFi", "RestaurantsAttire", "NoiseLevel", "BYOBCorkage", "AgesAllowed", "Smoking"]:
    restaurants[att] = restaurants[att].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x)

restaurants['RestaurantsPriceRange2'] = pd.to_numeric(
    restaurants['RestaurantsPriceRange2'], errors='coerce')

for att in ["Ambience", "BusinessParking", "GoodForMeal", "Music", "BestNights", "DietaryRestrictions"]:
    restaurants[att] = restaurants[att].apply(
        lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    restaurants[att] = restaurants[att].apply(
        lambda x: ", ".join([k for k, v in x.items() if v]
                            ) if isinstance(x, dict) else ""
    )
    

def clean_values(x):
    """Cleans and standardizes values across columns."""
    if isinstance(x, str):
        x_lower = x.strip().lower()
        if x_lower in ["true"]:
            return True
        elif x_lower in ["false"]:
            return False
        elif x_lower in ["none", "nan", "null", ""]:
            return np.nan  # Convert both "None" and "nan" strings to pd.NA
        return x  # Keep other strings unchanged
    elif pd.isna(x) or x is None:
        return np.nan  # Convert NaN and None to pd.NA
    return x  # Keep other values unchanged

# Apply cleaning function to all columns
restaurants = restaurants.apply(lambda col: col.map(clean_values))

# Drop columns
restaurants = restaurants.drop(columns=['index'])

pd.set_option("display.max_columns", None)
restaurants.head()

,business_id,name,city,postal_code,categories,stars,RestaurantsDelivery,OutdoorSeating,BusinessAcceptsCreditCards,BusinessParking,BikeParking,RestaurantsPriceRange2,RestaurantsTakeOut,ByAppointmentOnly,WiFi,Alcohol,Caters,RestaurantsReservations,RestaurantsGoodForGroups,RestaurantsAttire,HasTV,Ambience,GoodForKids,GoodForMeal,NoiseLevel,DogsAllowed,HappyHour,WheelchairAccessible,RestaurantsTableService,Smoking,CoatCheck,Music,BYOB,BusinessAcceptsBitcoin,BestNights,GoodForDancing,DriveThru,BYOBCorkage,Corkage,Open24Hours,AgesAllowed,AcceptsInsurance,RestaurantsCounterService,DietaryRestrictions
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,19107,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",4.0,False,False,False,street,True,1.0,True,False,free,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MUTTqe8uqyMdBl186RmNeA,Tuna Bar,Philadelphia,19106,"Sushi Bars, Restaurants, Japanese",4.0,True,True,True,street,NaN,2.0,True,NaN,free,full_bar,NaN,True,True,casual,False,classy,False,"dessert, dinner",average,False,True,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ROeacJQwBeh05Rqg7F6TCg,BAP,Philadelphia,19147,"Korean, Restaurants",4.5,NaN,NaN,True,street,True,1.0,True,NaN,no,NaN,True,False,False,casual,True,casual,True,"lunch, dinner",quiet,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore Pizza,Ardmore,19003,"Pizza, Restaurants",3.5,True,False,True,"street, lot",True,1.0,True,NaN,no,NaN,True,False,True,casual,True,casual,True,"latenight, dinner",average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,aPNXGTDkf-4bjhyMBQxqpQ,Craft Hall,Philadelphia,19123,"Eatertainment, Arts & Entertainment, Brewpubs,...",3.5,True,True,True,lot,NaN,2.0,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,classy,True,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
for col in restaurants.iloc[:, 6:].columns:
    unique_values = restaurants[col].unique()  # Get unique values
    print(f"{col}: {unique_values}")

RestaurantsDelivery: [False True nan]
OutdoorSeating: [False True nan]
BusinessAcceptsCreditCards: [False True nan]
BusinessParking: ['street' 'street, lot' 'lot' nan 'garage, street' 'lot, valet'
 'garage, street, validated, lot' 'street, lot, valet'
 'garage, street, lot' 'street, valet' 'garage, validated'
 'garage, street, validated, lot, valet' 'validated'
 'garage, street, valet' 'garage, lot' 'garage' 'valet'
 'street, validated, valet' 'garage, street, validated, valet'
 'garage, street, validated' 'street, validated' 'validated, valet'
 'garage, lot, valet' 'validated, lot' 'garage, valet'
 'street, validated, lot' 'garage, validated, lot' 'valet, lot'
 'street, validated, lot, valet']
BikeParking: [True nan False]
RestaurantsPriceRange2: [ 1.  2. nan  3.  4.]
RestaurantsTakeOut: [True nan False]
ByAppointmentOnly: [False nan True]
WiFi: ['free' 'no' nan 'paid']
Alcohol: [nan 'full_bar' 'beer_and_wine']
Caters: [True nan False]
RestaurantsReservations: [nan True False]
RestaurantsGoodForGroups: [nan True False]
RestaurantsAttire: [nan 'casual' 'dressy' 'formal']
HasTV: [nan False True]
Ambience: [nan 'classy' 'casual' 'romantic, intimate, trendy, classy'
 'classy, casual' 'intimate' 'romantic, intimate, classy'
 'romantic, classy' 'hipster, casual, trendy' 'touristy, casual' 'divey'
 'trendy' 'trendy, classy' 'trendy, casual' 'casual, trendy, classy'
 'hipster, casual' 'trendy, upscale' 'romantic, trendy' 'casual, classy'
 'divey, casual' 'divey, classy' 'trendy, classy, casual' 'casual, trendy'
 'casual, trendy, romantic' 'hipster, trendy, classy, casual'
 'hipster, romantic, intimate, trendy, classy, casual' 'intimate, classy'
 'intimate, classy, casual' 'hipster, casual, intimate' 'casual, romantic'
 'hipster' 'classy, upscale' 'romantic, intimate, upscale, classy'
 'hipster, romantic, intimate, trendy, casual' 'intimate, casual'
 'hipster, classy, casual' 'romantic, intimate, classy, casual'
 'casual, touristy' 'intimate, romantic' 'hipster, casual, trendy, classy'
 'casual, intimate' 'upscale, classy' 'intimate, trendy, casual'
 'divey, classy, casual' 'casual, intimate, classy'
 'divey, casual, trendy' 'hipster, romantic, trendy, classy, casual'
 'trendy, romantic, classy' 'hipster, classy' 'hipster, trendy, casual'
 'intimate, romantic, classy' 'romantic, upscale, classy'
 'romantic, intimate, trendy, classy, casual'
 'casual, touristy, trendy, classy'
 'hipster, casual, trendy, classy, upscale'
 'intimate, trendy, upscale, classy, casual' 'casual, upscale'
 'intimate, trendy, classy' 'romantic' 'hipster, trendy'
 'casual, touristy, romantic, classy, upscale'
 'intimate, trendy, upscale, classy' 'casual, trendy, upscale'
 'trendy, upscale, classy, casual' 'touristy' 'romantic, intimate, casual'
 'romantic, trendy, casual' 'hipster, divey, classy' 'touristy, classy'
 'romantic, intimate, upscale, classy, casual'
 'romantic, upscale, classy, casual' 'casual, trendy, intimate, romantic'
 'romantic, trendy, upscale, classy'
 'casual, trendy, intimate, romantic, classy'
 'hipster, casual, intimate, romantic, classy'
 'hipster, intimate, trendy, classy, casual' 'upscale'
 'casual, trendy, intimate, romantic, classy, upscale'
 'hipster, casual, trendy, intimate, romantic, classy'
 'trendy, upscale, classy' 'divey, hipster, casual' 'romantic, casual'
 'hipster, casual, trendy, intimate, romantic'
 'casual, intimate, romantic' 'hipster, casual, classy'
 'hipster, casual, trendy, intimate, classy'
 'casual, intimate, romantic, classy, upscale'
 'casual, intimate, romantic, classy' 'romantic, trendy, classy'
 'casual, touristy, classy' 'casual, touristy, trendy'
 'casual, romantic, classy']
GoodForKids: [nan False True]
GoodForMeal: [nan 'dessert, dinner' 'lunch, dinner' 'latenight, dinner' 'lunch'
 'lunch, brunch, breakfast' 'dessert, lunch, dinner, brunch'
 'lunch, dinner, brunch' 'dessert, lunch, dinner, breakfast' 'dinner'
 'lunch, dinner, breakfast' 'dessert, lunch, dinner' 'breakfast'
 'breakfast, brunch' 'latenight, lunch' 'latenight, lunch, dinner'
 'lunch, breakfast' 'breakfast, brunch, lunch'
 'dessert, latenight, lunch, dinner, brunch, breakfast' 'latenight'
 'dinner, brunch' 'brunch, lunch, dinner'
 'lunch, dinner, brunch, breakfast' 'dessert, latenight, lunch, dinner'
 'dessert, lunch, dinner, brunch, breakfast' 'brunch, breakfast'
 'dessert, breakfast' 'latenight, brunch, breakfast' 'lunch, latenight'
 'lunch, dinner, dessert' 'brunch' 'lunch, brunch' 'breakfast, lunch'
 'brunch, lunch' 'dessert' 'dinner, latenight'
 'dessert, latenight, dinner' 'dessert, lunch' 'dessert, lunch, brunch'
 'latenight, lunch, dinner, brunch, breakfast' 'dinner, breakfast'
 'dessert, brunch' 'latenight, lunch, dinner, breakfast'
 'dessert, lunch, brunch, breakfast' 'dinner, dessert'
 'latenight, lunch, breakfast' 'breakfast, brunch, dinner'
 'brunch, dinner' 'brunch, lunch, dinner, dessert'
 'lunch, dinner, latenight' 'breakfast, lunch, dinner'
 'brunch, dinner, dessert' 'dessert, dinner, brunch'
 'dessert, dinner, breakfast' 'latenight, breakfast'
 'breakfast, brunch, latenight' 'breakfast, lunch, dessert'
 'breakfast, brunch, lunch, dinner, dessert' 'dessert, latenight, lunch'
 'dessert, latenight, lunch, dinner, breakfast'
 'latenight, lunch, dinner, brunch' 'latenight, dinner, brunch'
 'dessert, brunch, breakfast' 'breakfast, brunch, lunch, dinner'
 'latenight, brunch' 'dessert, lunch, breakfast']
NoiseLevel: [nan 'average' 'quiet' 'loud' 'very_loud']
DogsAllowed: [nan False True]
HappyHour: [nan True False]
WheelchairAccessible: [nan True False]
RestaurantsTableService: [nan True False]
Smoking: [nan 'no' 'outdoor' 'yes']
CoatCheck: [nan False True]
Music: [nan 'live' 'jukebox, live' 'dj' 'dj, live, jukebox' 'jukebox' 'dj, live'
 'karaoke' 'background_music' 'background_music, jukebox, video'
 'dj, jukebox, karaoke' 'background_music, live' 'dj, jukebox, live'
 'dj, background_music, live, karaoke']
BYOB: [nan False True]
BusinessAcceptsBitcoin: [nan False True]
BestNights: [nan 'friday, saturday' 'saturday' 'monday, thursday, saturday'
 'friday, thursday, saturday' 'friday, wednesday, saturday'
 'friday, sunday, saturday' 'friday, sunday' 'wednesday'
 'friday, wednesday, thursday' 'tuesday, thursday, saturday'
 'friday, wednesday, sunday' 'monday, friday, saturday'
 'monday, friday, thursday' 'monday, tuesday, wednesday'
 'tuesday, friday, wednesday' 'tuesday, friday, thursday'
 'tuesday, friday, saturday' 'tuesday, wednesday'
 'monday, thursday, sunday' 'friday' 'thursday' 'wednesday, saturday'
 'monday' 'monday, sunday, saturday' 'thursday, sunday'
 'tuesday, wednesday, sunday' 'monday, friday' 'tuesday, thursday'
 'sunday' 'monday, thursday' 'wednesday, sunday'
 'tuesday, wednesday, thursday' 'wednesday, thursday, saturday'
 'tuesday, friday, sunday' 'tuesday' 'saturday, sunday'
 'monday, wednesday, saturday' 'thursday, friday, saturday'
 'tuesday, sunday, saturday' 'monday, tuesday, saturday'
 'friday, thursday, sunday' 'monday, tuesday, friday' 'tuesday, friday'
 'tuesday, wednesday, saturday' 'monday, tuesday, sunday'
 'friday, wednesday' 'sunday, saturday' 'wednesday, thursday, sunday'
 'thursday, sunday, saturday' 'thursday, saturday' 'tuesday, saturday'
 'monday, friday, sunday' 'wednesday, sunday, saturday'
 'tuesday, saturday, sunday' 'wednesday, thursday' 'monday, wednesday'
 'monday, wednesday, thursday' 'monday, tuesday, thursday'
 'friday, thursday' 'monday, friday, wednesday']
GoodForDancing: [nan False True]
DriveThru: [nan True False]
BYOBCorkage: [nan 'yes_free' 'no' 'yes_corkage']
Corkage: [nan False True]
Open24Hours: [nan False]
AgesAllowed: [nan 'allages' '21plus']
AcceptsInsurance: [nan False]
RestaurantsCounterService: [nan True False]
DietaryRestrictions: [nan 'gluten-free' 'dairy-free, gluten-free, vegan, vegetarian']

In [13]:
sorted_columns = restaurants.count().sort_values(ascending=False).index
restaurants = restaurants[sorted_columns]
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8069 entries, 0 to 8068
Data columns (total 44 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   business_id                 8069 non-null   object
 1   city                        8069 non-null   object
 2   postal_code                 8069 non-null   object
 3   categories                  8069 non-null   object
 4   stars                       8069 non-null   float64
 5   name                        8069 non-null   object
 6   RestaurantsTakeOut          7471 non-null   object
 7   BusinessAcceptsCreditCards  7181 non-null   object
 8   RestaurantsDelivery         7149 non-null   object
 9   RestaurantsPriceRange2      6581 non-null   float64
 10  RestaurantsReservations     6376 non-null   object
 11  HasTV                       6366 non-null   object
 12  OutdoorSeating              6192 non-null   object
 13  RestaurantsGoodForGroups    6004 non-null   object
 14  WiFi                        5952 non-null   object
 15  GoodForKids                 5912 non-null   object
 16  BikeParking                 5850 non-null   object
 17  RestaurantsAttire           5601 non-null   object
 18  Caters                      5476 non-null   object
 19  BusinessParking             5341 non-null   object
 20  NoiseLevel                  5187 non-null   object
 21  Ambience                    3876 non-null   object
 22  GoodForMeal                 3351 non-null   object
 23  RestaurantsTableService     3176 non-null   object
 24  WheelchairAccessible        2275 non-null   object
 25  HappyHour                   2029 non-null   object
 26  Alcohol                     1922 non-null   object
 27  DogsAllowed                 1802 non-null   object
 28  BusinessAcceptsBitcoin      1191 non-null   object
 29  BYOB                        863 non-null    object
 30  Corkage                     776 non-null    object
 31  DriveThru                   681 non-null    object
 32  BestNights                  609 non-null    object
 33  CoatCheck                   596 non-null    object
 34  ByAppointmentOnly           558 non-null    object
 35  GoodForDancing              527 non-null    object
 36  Smoking                     514 non-null    object
 37  BYOBCorkage                 385 non-null    object
 38  Music                       308 non-null    object
 39  AgesAllowed                 30 non-null     object
 40  RestaurantsCounterService   4 non-null      object
 41  Open24Hours                 3 non-null      object
 42  AcceptsInsurance            3 non-null      object
 43  DietaryRestrictions         2 non-null      object
dtypes: float64(2), object(42)
memory usage: 2.7+ MB

In [14]:
user_business_interaction = reviews.groupby(['user_id', 'business_id']).agg(
    # Number of times a user interacted with a business
    frequency=('stars', 'count'),
    # Average rating given by the user to the business
    avg_rating=('stars', 'mean')
).reset_index()

filtered_business_ids = set(restaurants['business_id'])
# Filter for interactions that are restaurants
user_business_interaction = user_business_interaction[
    user_business_interaction['business_id'].isin(filtered_business_ids)
]
user_business_interaction.reset_index(drop=True, inplace=True)

user_business_interaction.head()

                  user_id             business_id  frequency  avg_rating
0  ---r61b7EpVPkb4UVme5tA  fGYnHzFr1z2kv7bPRW6VMA          1         4.0
1  ---r61b7EpVPkb4UVme5tA  uBT3MaAYHTHbanrqtEVTMA          1         1.0
2  --1oopX4BmrQEB_cW2dFVA  4UDm69SbXGjjlbVVy3GNcQ          1         2.0
3  --1vcleKg-_ORilNx_RaDw  CnhmThuteYExAEvBSzL0qg          1         5.0
4  --2tyArRmSoyKx5r-FVG0A  IXRSMV7U5D0sYJvArEbm5g          1         3.0

In [15]:
user_business_interaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 806808 entries, 0 to 806807
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   user_id      806808 non-null  object
 1   business_id  806808 non-null  object
 2   frequency    806808 non-null  int64
 3   avg_rating   806808 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 24.6+ MB

In [16]:
restaurants.describe()

             stars  RestaurantsPriceRange2
count  8069.000000             6581.000000
mean      3.561470                1.589880
std       0.814395                0.589947
min       1.000000                1.000000
25%       3.000000                1.000000
50%       3.500000                2.000000
75%       4.000000                2.000000
max       5.000000                4.000000

In [17]:
user_business_interaction.describe().round(2)

       frequency  avg_rating
count  806808.00   806808.00
mean        1.04        3.79
std         0.22        1.36
min         1.00        1.00
25%         1.00        3.00
50%         1.00        4.00
75%         1.00        5.00
max        24.00        5.00

In [18]:
demographics = pd.read_csv("us_census/demographics_merged.csv")
demographics.head()

,postal_code,dist_highway,adjusted_gross_income,rural_urban_continuum_code_2023,unemployment_rate_2023
0,1001,1.387035,598807,2.0,4.30
1,1002,14.438177,989558,3.5,2.90
2,1005,16.788339,164207,2.0,3.50
3,1007,13.663839,647074,3.0,2.90
4,1008,2.593655,47826,2.5,3.95

In [19]:
restaurants['postal_code'] = restaurants["postal_code"].astype('str')
demographics['postal_code'] = demographics['postal_code'].astype('str')
restaurants = restaurants.merge(demographics, how="left", on="postal_code")
restaurants.head(100)

,business_id,city,postal_code,categories,stars,name,RestaurantsTakeOut,BusinessAcceptsCreditCards,RestaurantsDelivery,RestaurantsPriceRange2,RestaurantsReservations,HasTV,OutdoorSeating,RestaurantsGoodForGroups,WiFi,GoodForKids,BikeParking,RestaurantsAttire,Caters,BusinessParking,NoiseLevel,Ambience,GoodForMeal,RestaurantsTableService,WheelchairAccessible,HappyHour,Alcohol,DogsAllowed,BusinessAcceptsBitcoin,BYOB,Corkage,DriveThru,BestNights,CoatCheck,ByAppointmentOnly,GoodForDancing,Smoking,BYOBCorkage,Music,AgesAllowed,RestaurantsCounterService,Open24Hours,AcceptsInsurance,DietaryRestrictions,dist_highway,adjusted_gross_income,rural_urban_continuum_code_2023,unemployment_rate_2023
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,19107,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...",4.0,St Honore Pastries,True,False,False,1.0,NaN,NaN,False,NaN,free,NaN,True,NaN,True,street,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.637509,620248.0,1.0,4.2
1,MUTTqe8uqyMdBl186RmNeA,Philadelphia,19106,"Sushi Bars, Restaurants, Japanese",4.0,Tuna Bar,True,True,True,2.0,True,False,True,True,free,False,NaN,casual,NaN,street,average,classy,"dessert, dinner",True,True,True,full_bar,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.002010,1343500.0,1.0,4.2
2,ROeacJQwBeh05Rqg7F6TCg,Philadelphia,19147,"Korean, Restaurants",4.5,BAP,True,True,NaN,1.0,False,True,NaN,False,no,True,True,casual,True,street,quiet,casual,"lunch, dinner",True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.885738,2118208.0,1.0,4.2
3,kV_Q1oqis8Qli8dUoGpTyQ,Ardmore,19003,"Pizza, Restaurants",3.5,Ardmore Pizza,True,True,True,1.0,False,True,False,True,no,True,True,casual,True,"street, lot",average,casual,"latenight, dinner",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.155569,888735.0,1.0,3.0
4,aPNXGTDkf-4bjhyMBQxqpQ,Philadelphia,19123,"Eatertainment, Arts & Entertainment, Brewpubs,...",3.5,Craft Hall,True,True,True,2.0,NaN,True,True,NaN,NaN,True,NaN,NaN,NaN,lot,NaN,classy,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.564495,834640.0,1.0,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0zH0l4Jbf-oove3cLvrFOg,Newtown,18940,"American (New), Italian, Restaurants, Event Pl...",4.0,Vecchia Osteria,True,True,True,2.0,True,True,True,True,free,True,True,casual,True,lot,average,"classy, casual",dinner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.546162,3633871.0,1.0,3.0
96,fJNSx1WOo77TmP7Bl26w_g,Washington Crossing,18977,"American (New), Restaurants, Venues & Event Sp...",4.0,Washington Crossing Inn,True,True,True,2.0,True,True,True,True,no,False,True,casual,True,"lot, valet",average,classy,"lunch, dinner",True,True,True,full_bar,NaN,NaN,True,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.187823,445877.0,1.0,3.0
97,PMpcbvBon1rfGE7pWKv8aQ,Trooper,19403,"Restaurants, Chinese",3.5,King House Chinese Restaurant,True,True,True,1.0,NaN,True,False,True,NaN,True,NaN,casual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.434257,2223852.0,1.0,2.8
98,_IYHl6J9iB3lbeJq27pbsg,Philadelphia,19120,"Latin American, Restaurants",3.5,Taqueria La Hacienda,True,True,True,1.0,False,True,NaN,True,no,True,False,casual,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.498379,1085614.0,1.0,4.2
99,B6qHZCAs7Nka-1zdjCzAIQ,Philadelphia,19130,"Food, Caterers, Event Planning & Services, Res...",3.0,Butter's Soul Food,True,True,True,2.0,False,True,True,False,no,True,True,casual,True,street,quiet,casual,dinner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.930093,1650111.0,1.0,4.2

In [20]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8069 entries, 0 to 8068
Data columns (total 48 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   business_id                      8069 non-null   object
 1   city                             8069 non-null   object
 2   postal_code                      8069 non-null   object
 3   categories                       8069 non-null   object
 4   stars                            8069 non-null   float64
 5   name                             8069 non-null   object
 6   RestaurantsTakeOut               7471 non-null   object
 7   BusinessAcceptsCreditCards       7181 non-null   object
 8   RestaurantsDelivery              7149 non-null   object
 9   RestaurantsPriceRange2           6581 non-null   float64
 10  RestaurantsReservations          6376 non-null   object
 11  HasTV                            6366 non-null   object
 12  OutdoorSeating                   6192 non-null   object
 13  RestaurantsGoodForGroups         6004 non-null   object
 14  WiFi                             5952 non-null   object
 15  GoodForKids                      5912 non-null   object
 16  BikeParking                      5850 non-null   object
 17  RestaurantsAttire                5601 non-null   object
 18  Caters                           5476 non-null   object
 19  BusinessParking                  5341 non-null   object
 20  NoiseLevel                       5187 non-null   object
 21  Ambience                         3876 non-null   object
 22  GoodForMeal                      3351 non-null   object
 23  RestaurantsTableService          3176 non-null   object
 24  WheelchairAccessible             2275 non-null   object
 25  HappyHour                        2029 non-null   object
 26  Alcohol                          1922 non-null   object
 27  DogsAllowed                      1802 non-null   object
 28  BusinessAcceptsBitcoin           1191 non-null   object
 29  BYOB                             863 non-null    object
 30  Corkage                          776 non-null    object
 31  DriveThru                        681 non-null    object
 32  BestNights                       609 non-null    object
 33  CoatCheck                        596 non-null    object
 34  ByAppointmentOnly                558 non-null    object
 35  GoodForDancing                   527 non-null    object
 36  Smoking                          514 non-null    object
 37  BYOBCorkage                      385 non-null    object
 38  Music                            308 non-null    object
 39  AgesAllowed                      30 non-null     object
 40  RestaurantsCounterService        4 non-null      object
 41  Open24Hours                      3 non-null      object
 42  AcceptsInsurance                 3 non-null      object
 43  DietaryRestrictions              2 non-null      object
 44  dist_highway                     8005 non-null   float64
 45  adjusted_gross_income            8005 non-null   float64
 46  rural_urban_continuum_code_2023  8005 non-null   float64
 47  unemployment_rate_2023           8005 non-null   float64
dtypes: float64(6), object(42)
memory usage: 3.0+ MB